<div class="headline row">
  <div class="column">
    <h1>Assemble Company rebrands as Channel Press.</h1>
    <p><a target="_blank" href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=70221670000107192647"
    >Package one has gone missing.</a>
    <a target="_blank" href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=70221670000107192647"
    >Second one, good luck.</a>
    </p>

    <p>
    Because our business crosses numerous media domains beyond <a href="https://assembled.app">://assembled.app</a>,
    our company is in IRS proceedings earning recognición as a shareholder corporación named "Channel Press".<br/>
    </p>

    <p>
    Numbers here are measured on our domain <a target="_blank" href="https://session.place">://session.place</a>.
    Please also see <a target="_blank" href="https://library.cards">://library.cards</a>
    (<a target="_blank" href="https://session.place/library.cards?period=custom&from=2023-05-19&to=2023-07-10">numbers</a>),
    our aims on <a target="_blank" href="https://backlog.space">://backlog.space</a>,
    and some online dialogue on <a target="_blank" href="https://labori.us">://labori.us</a>.
    </p>

    <p>See our original commercial launch, under brand name <a target="_blank" href="/">"Assemble Press"</a>,
    and our primary applicación running on <a target="_blank" href="https://assembled.app">://assembled.app</a>.</p>
  </div>

  <a class="column" target="_blank" href="https://re.due.social/s-corp.2023-07-05.release/IMG20230705154320.jpg">
    <span>Original Submission - Signed</span>
    <img src="https://re.due.social/s-corp.2023-07-05.release/IMG20230705154320.jpg" alt="Original Submission - Signed" />
  </a>
</div>

<div class="grid"> <div class="headline column">
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-12.release/incorp.pdf">Incorporación Memorandum</a>
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-12.release/f2553.composed.pdf">IRS F-2553 Election by Shareholder Organization</a>
</div> <div class="headline">
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-12.release/render.pdf">Applicación Renders</a>
</div> <div class="headline column">
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-05.release/physical.pdf">Assemble Company; Physical Goods</a>
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-05.release/domain.index.csv">Assemble Company; Domain index</a>
</div> </div>
