<div class="headline row _2">
  <div class="column">
    <h1>Assemble Company rebrands as Channel Press.</h1>
    <p><a target="_blank" href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=70221670000107192647"
    >Package one has gone missing.</a>
    <a target="_blank" href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=70221670000107194986"
    >Second one, good luck.</a> </p>

    <img src="https://re.due.social/s-corp.2023-07-12.release/Screenshot%202023-07-16%20at%2015-52-53%20USPS.com%C2%AE%20-%20USPS%20Tracking%C2%AE%20Results.png"
    alt="USPS success." />

    <p>
    Because our business crosses numerous media domains beyond <a href="https://assembled.app">://assembled.app</a>,
    our company is in IRS proceedings earning recognición as a shareholder corporación named "Channel Press".<br/>
    </p>

    <p>See our original commercial launch, under brand name <a target="_blank" href="/">"Assemble Press"</a>,
    and our primary applicación running on <a target="_blank" href="https://assembled.app">://assembled.app</a>.</p>

    <p>
    See changes happening across our domains on
    <a href="https://assembled.app" target="_blank">://labori.us</a> (running Zulip):
    </p><ul>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/4-domain">#domains</a> (breaking changes across domains)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/4-domain/topic/assembled.2Eapp">#domains/assembled.app</a> (changes in app & records)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/4-domain/topic/all">#domains/all</a> (scaling across all domains)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/3-code/topic/assembled.2Erails.20.2F.20main">#code/assembled.rails</a> (deploy on ://assembled.app)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/3-code/topic/assembled.20.2F.20main">#code/press</a> (deploy on ://assemble.press)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/3-code/topic/policy.20.2F.20main">#code/policy</a> (binding online legal policies)</li>
    </ul>
  </div>

  <a class="column" target="_blank" href="https://re.due.social/s-corp.2023-07-05.release/IMG20230705154320.jpg">
    <span>Original Submission - Signed</span>
    <img src="https://re.due.social/s-corp.2023-07-05.release/IMG20230705154320.jpg" alt="Original Submission - Signed" />
  </a>
</div>

<div class="grid"> <div class="headline column">
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-12.release/incorp.pdf">Incorporación Memorandum</a>
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-12.release/f2553.composed.pdf">IRS F-2553 Election by Shareholder Organization</a>
</div> <div class="headline column">
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-12.release/render.pdf">Applicación Renders</a>
</div> <div class="headline column">
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-05.release/physical.pdf">Assemble Company; Physical Goods</a>
  <a target="_blank" href="https://re.due.social/s-corp.2023-07-05.release/domain.index.csv">Assemble Company; Domain index</a>
</div> </div>
