<div class="headline row _2">
  <div class="column">
    <h1>Assemble Press: a daily heads-up on Congress.</h1>

    <p>Assemble Press is a loose engineering associación, mainly producing <a
    target="_blank" href="https://assembled.app">://assembled.app</a>.
    Our original build had been in Ruby on Rails; here, you're seeing Phoenix in Elixir.</p>

    <p>Our business encompasses numerous online media domains.
    As described in <a href="/corp">our incorporación page</a>,
    our company is hoping shareholder sales can begin soon.</p>

    <p>
    <a target="_blank" href="/corp">Channel Press</a>.
    As usual, please <a target="_blank" href="https://paper.garden/#/view/289e6fdf-06af-81c6-8002-b0780367e4d9?page-id=289e6fdf-06af-81c6-8002-b0780367e4da&section=interactions&index=0&share-id=289e6fdf-06af-81c6-8002-b656abd4d743"
    >click around in an early sales deck.</a> </p>

    <p>
    Numbers here are measured on our domain <a target="_blank" href="https://session.place">://session.place</a>.
    Please also see <a target="_blank" href="https://library.cards">://library.cards</a>
    (<a target="_blank" href="https://session.place/library.cards?period=custom&from=2023-05-19&to=2023-07-10">numbers</a>),
    our aims on <a target="_blank" href="https://backlog.space">://backlog.space</a>,
    and some online dialogue on <a target="_blank" href="https://labori.us">://labori.us</a>.
    Our remaining page is displaying some applicación and press release numbers.
    </p>

    <p>
    See changes happening across our domains on
    <a href="https://assembled.app" target="_blank">://labori.us</a> (running Zulip):
    </p><ul>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/4-domain">#domains</a> (breaking changes across domains)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/4-domain/topic/assembled.2Eapp">#domains/assembled.app</a> (changes in app & records)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/4-domain/topic/all">#domains/all</a> (scaling across all domains)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/3-code/topic/assembled.2Erails.20.2F.20main">#code/assembled.rails</a> (deploy on ://assembled.app)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/3-code/topic/assembled.20.2F.20main">#code/press</a> (deploy on ://assemble.press)</li>
      <li><a target="_blank" href="https://labori.us/#narrow/stream/3-code/topic/policy.20.2F.20main">#code/policy</a> (binding online legal policies)</li>
    </ul>
  </div>

  <div class="column">
    <p>Help our business see a good launch by ordering some unique physical goods:</p>
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <iframe src="https://donorbox.org/embed/assemble-press" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
  </div>
</div>

<script src="https://session.place/js/embed.host.js"></script>
<div class="row _2">
  <div class="column" >
    <iframe class="session" plausible-embed scrolling="no" frameborder="0" loading="lazy"
      src={"https://session.place/share/assembled.app?auth=NzaZXhRmF-JAqeAN-X28i&embed=true&theme=dark&background=%231d9186&period=custom&from=2023-05-08&to=#{Date.utc_today}"}
    ></iframe>
  </div>

  <div class="column" >
    <iframe class="session" plausible-embed scrolling="no" frameborder="0" loading="lazy"
      src={"https://session.place/share/assemble.press?auth=n549W0RKoGFKN0aihEgeq&embed=true&theme=dark&background=%231d9186&period=custom&from=2023-07-01&to=#{Date.utc_today}"}
    ></iframe>
  </div>
</div>
