<div class="headline">
  <p>Assemble Company is being rebranded and reproduced.<br/>
  Our original build had been in Ruby on Rails; here, you're seeing Phoenix in Elixir.<br/>
  </p>

  <p>Our incorporación papers are being processed as early as Monday,<br/>
  and because our business crosses numerous media domains beyond <a href="https://assembled.app">://assembled.app</a>,<br/>
  our company has <a href="https://re.due.social/s-corp.release">placed a submission as a shareholder corporación named "Channel Press"</a>.<br/>
  As usual, please <a href="https://paper.garden/#/view/289e6fdf-06af-81c6-8002-b0780367e4d9?page-id=289e6fdf-06af-81c6-8002-b0780367e4da&section=interactions&index=0&share-id=289e6fdf-06af-81c6-8002-b656abd4d743"
  >click around in an early sales deck.</a></p>

  <p><a target="_blank" href="https://assembled.app">://assembled.app</a> is online again! Numbers here are measured on our domain <a
  target="_blank" href="https://session.place">://session.place</a>.<br/>
  Please also see <a href="https://library.cards">://library.cards</a>
  (<a href="https://session.place/library.cards?period=custom&from=2023-05-19&to=2023-07-10">Numbers</a>),
  and our ongoing aims on <a href="https://backlog.space">://backlog.space</a>).
  </p>
</div>

<script async src="https://session.place/js/embed.host.js"></script>
<iframe plausible-embed scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"
src={"https://session.place/share/assembled.app?auth=NzaZXhRmF-JAqeAN-X28i&embed=true&theme=dark&background=%231d9186&period=custom&from=2023-05-08&to=#{Date.utc_today}"}
></iframe>
