@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://re.due.social/symbols/Karla/Karla-VariableFont_wght.ttf");
body {
  background: #1da674;
  font-family: "Karla";
  padding: 2rem;
}
